* {
    color: white;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
  }
  
  html {
    scroll-behavior: smooth;
    font-family: "Source Code Pro", monospace;
  }
  
  body{
    margin-right: 3rem;
    margin-left: 3rem;
    background-color: #0A0909;
    overflow-x: hidden;
  }
  
  ::-webkit-scrollbar{
    height: 1px;
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb{
    background: #069590;
    border-radius:1rem;
  }

  .header {
    position: relative;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 20px #069590;
    background-color: #151418;
    border-radius: 10rem;
    
  }
  




  .foo{
    padding-right: 4rem;
  }
  
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    background-color: #0A0909;
    border-radius: 10rem;
    
  }

  .menu {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .menu a {
    display: block;
    padding: 7px 15px;
    font-size: 1.25rem;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    color: #fff;
  }
  .nav-list-element:hover{
    border-style: hidden hidden solid hidden;
    border-radius: 3px;
  }
  .menu:hover a {
    opacity: 0.4;
  }
  
  .menu a:hover {
    opacity: 1;
    color: #069590;
  }
  
  .menu-icon {
    display: none;
  }
  
  #menu-toggle {
    display: none;
  }
  
  #menu-toggle:checked ~ .menu {
    transform: scale(1, 1);
    
  }
  @media only screen and (max-width: 950px) {
  
  
    nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    body{
      overflow-x: hidden;
    }
      .menu {
      flex-direction: column;
      align-items: start;
      position: absolute;
      top: 100%;
      left: 0px;
      width: 100%;
      margin:auto;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
  
    .menu a {
      margin-left: 12px;
    }
  
    .menu li {
      margin-bottom: 10px;
    }
  
  }  

  .section-heading{
    color: white;
    font-weight: 500;
    font-size: 4rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }

  .section-blurb{
   font-family: 'Inconsolata', monospace;
   color: #069590;
   font-size: 2rem;
   font-weight: 800;
   text-align: center;
   padding: 3rem;
  }


  /* LANDING SECTION */
  .landing{
    padding-top: 3rem;
    height: 100vh;
  }
  :root {
    --background-rgb: 29 30 34;
    
    --green-rgb: 6 149 144;
    --primary-rgb: var(--green-rgb);
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  .screen {
    width: 100%;
    height: 80%;
    display: flex;
    aspect-ratio: 10 / 16;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    z-index: 10;
  }
  
  .screen:after,
  .screen:before {
    content: "";
    height: 5px;
    position: absolute;
    z-index: 4;
    left: 50%;
    translate: -50% 0%;
  }
  
  .screen:before {
    width: 15%;
    top: 0rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  
  .screen:after {
    width: 25%;
    bottom: 0rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  
   @keyframes pan-overlay {
    from {
      background-position: 0% 0%;
    }
    
    to {
      background-position: 0% -100%;
    }
  } 
/*   
   .screen-overlay {     
    background-size: 100% 9px;
    height: 100%;
    width: 100%;
    animation: pan-overlay 22s infinite linear;
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
  }  */
  

  
  .screen > .screen-image {
    background-image: url("../assets/hero/Achilles\ __\ The\ Trojan\ War\ Hero.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    background-size: 100%;
    object-fit: cover;
    overflow: hidden;
    background-position: 50% 50%;
    filter: sepia(100%) hue-rotate(150deg);
    opacity: 1 ;
    animation: pan-image 15s linear infinite;
        border: 1px solid rgb(var(--primary-rgb) / 50%);
    border-radius: 0.6rem;
  }
  
  .screen > .screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 4rem;
    position: relative;
    z-index: 3;
    margin: 1rem;
    padding-bottom: 6rem;
    border: 1px solid rgb(var(--primary-rgb) / 50%);
    border-radius: 0.6rem;
  }
  
  .screen > .screen-content > .screen-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
  }
  
  .screen > .screen-content > .screen-user:before,
  .screen > .screen-content > .screen-user:after {
    content: "";
    position: absolute;
    top: 0px;
    background-color: rgb(var(--primary-rgb));
    border-radius: 1rem;
    box-shadow: 0px 0px 8px 3px rgb(var(--primary-rgb) / 60%);
  }
  
  .screen > .screen-content > .screen-user:before {
    height: 2px;
    width: 50px;
    translate: -20px -1rem;
    opacity: 0.75;
  }
  
  .screen > .screen-content > .screen-user:after {
    height: 3px;
    width: 30px;
    translate: 26px calc(-1rem - 0.5px);
  }
  
  .screen > .screen-content > .screen-user > :is(.name, .link) {
    font-family: "Source Code Pro", monospace;
    color: white; 
    text-align: center;
    text-transform: uppercase; 
  }
  
  .screen > .screen-content > .screen-user > .name {
    position: relative;
    font-size: 3rem;
    font-weight: 200;
  }

  .screen > .screen-content > .screen-user > .name-title{
    font-family: "Source Code Pro", monospace;
    position: relative;
    font-size: 3.4rem;
    font-weight: 400;
    color:#069590;
  }
  
  .screen > .screen-content > .screen-user > .name:before,
  .screen > .screen-content > .screen-user > .name:after {
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    border: 2px solid white;
    border-radius: 2px;
  }
  
  .screen > .screen-content > .screen-user > .name:before {
    top: 55%;
    right: -1.5rem;
  }
  
  .screen > .screen-content > .screen-user > .name:after {
    top: 45%;
    left: -1.5rem;  
  }
  
  .screen > .screen-content > .screen-user > .link {  
    opacity: 0.8;
    font-size: 1.5rem;
    text-shadow: 0px 0px 0.5rem white;
    font-weight: 400;
    letter-spacing: 0.3rem;
    text-decoration: none;
  }
  
  .screen > .screen-content > .screen-user > .link:is(:hover, :focus) {  
    text-decoration: underline; 
  }
  
  @media(max-width: 700px) {
    .screen {
      margin-bottom: 0rem;
      width: 100vw;
    }
    .landing{
      width: 100vw;
    }
  }



  /* .landing-main{
    height: 100%;
    width: 100%;
    background-image: url("../assets/hero/Furwind\,\ Adventure\ Platformer_\ Avaliable\ on\ steam\ and\ itch.io!");
    background-repeat: no-repeat;
  } */

  /* ABOUT SECTION */


  .about-grid{
    display: flex;
    justify-content: center;
    align-items:center ;

  }
  
.about-grid-hero{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-grid-content{
  font-family: "Source Code Pro", monospace;
  width: 100%;
  color: white;
}

.about-grid-content-text{
  font-family: "Source Code Pro", monospace;
  color: white;
  font-size: 2.3rem;
  
}

.about-grid-content-important{
  font-family: "Source Code Pro", monospace;
  color: #069590;
  font-size: 2.6rem;
  font-weight: bold;
  
}

@media (max-width: 700px) {
  .about-grid{
display: flex;
flex-direction: column;
  }
}

/* SKLLS SECTION */

.skills-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-self: center;
  justify-self: center;
  grid-gap: 3rem;
}
.skills-box{
  height: auto;
  width:100%;
  background-color: #0A0909;
  border-radius: 24px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  padding:1rem
}

.skills-box-flex{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
}

.skills-box-content{
  text-align:center;
  font-family: "Source Code Pro", monospace;
  font-size: 1.2rem;
}

.skills-box-content-stack{
  display: flex;
  justify-content: space-around;
}

.skills-box-hero-heading{
  font-size: 2rem;
  text-align: center;
}

.tech-logo{
  height: 3rem;
  width:3rem;
}

@media(max-width: 700px){
  .skills-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}




/* EDUCATION SECTION */

